{% extends '_base.html.twig' %}

{% block title %}whoopsies!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Whoopsies!</h1>

            <p>Let's giggle/smile a bit.</p>

            <h4>What am I even looking for?</h4>

            <p>
                Enjoy the typos and misnames. Below you can find selected phrases which people (and/or furries)
                searched in Google, and which caused getfursu.it to show up in the results. This list was generated
                from reports on 26th of June, 2020.
            </p>
            <ul>
                <li>furry costume</li>

                <li>fur suit / fur-suit</li>
                <li>furr suit / furrsuit</li>
                <li>furry suit / furrysuit</li>
                <li>furrie suit / furries suits</li>
                <li>fur sute / fursute / fursut</li>

                <li>fursuite</li>
                <li>fuir suit</li>
                <li>fursiut</li>
                <li>furstuit</li>
                <li>fursit</li>
                <li>fursu</li>
                <li>fursui</li>
                <li>fursuot</li>
                <li>futsuit</li>

                <li>firsuit</li>
                <li>forsuit</li>
                <li>frusuit</li>

                <li>fusuit</li>
            </ul>

            <hr />

            <p>Enough of the typos. There were also other interesting searches... 🤔</p>
            <ul>
                <li>fursuit builder</li>
                <li>fursuit creator</li>
                <li>fursuit generator</li>
            </ul>

            <hr />

            <p>I'm not sure if anyone shares my imagination, but when I read searches like that, I imagine someone wants to see how a fursuit maker looks like after a long night in the workshop (you know, too much coffee, not enough sleep):</p>
            <p><img class="img-fluid" src="{{ asset('images/searches/creepy_fursuit_makers.png') }}" alt="creepy fursuit makers" /></p>
            <p><img class="img-fluid" src="{{ asset('images/searches/scary_fursuit_makers.png') }}" alt="scary fursuit makers" /></p>

            <hr />

            <p>Another search I find quite interesting:</p>
            <p><img class="img-fluid" src="{{ asset('images/searches/getfursu.it.png') }}" alt="getfursu.it" /></p>
            <p>There are people looking for the "getfursu.it", instead of typing that in the address bar. What's more interesting is that ~15% of them do NOT navigate to the website after searching...</p>

            <hr />

            <p><img class="img-fluid" src="{{ asset('images/searches/how_to_find_a_fursuit_maker.png') }}" alt="how to find a fursuit maker?" /></p>
            <p><strong>Pick me! Pick me!</strong></p>

            <h4>Fursuit makers type interesting stuff too!</h4>

            <p>Fursuit makers sent me some interesting stuff in the inclusion/update forms. Let's begin with new species (typos again):</p>
            <ul>
                <li><em>Dutch Angle Dragons</em><small> - are they all 90 degrees?</small></li>
                <li><em>Serials</em><small> - what about parallels?</small></li>
                <li><em>Wicker beats</em><small> - I don't get modern music</small></li>
            </ul>

            <p>Other things I needed to fix during requests processing:</p>
            <ul>
                <li>Name of your studio is not the address of your website</li>
                <li>No, name of your studio is neither a valid style/feature/type</li>
                <li><em>Mr</em> is not a valid type of fursuit to craft</li>
                <li><em>1992</em> is not a style/feature/type as well</li>
                <li><em>open</em> is not a valid URL for the <a href="{{ path('tracking') }}">commissions status tracker</a> (I added a comment, but sometimes it still not enough 🤔)</li>
                <li>Neither <em>America</em>, nor <em>North America</em> is a country</li>
                <li>Two typos: <em>Orgon</em> and <em>Orgen</em> done in a single form, field after field</li>
                <li>The shortest time to forget the passcode was 6 days, 7 hours and 45 minutes<small> - don't ask about the maker, because I forgot who that was</small></li>
                <li>Maker provided their phone number for contact purposes. I know they may not realise that, but I'm in Europe.</li>
            </ul>

            <p>I love you all anyway. 🤗</p>

            <h4>What's this?</h4>

            <p>getfursu.it domain (the address) has been registered on 2018-06-16. Nothing special except the fact that I was presented with a very nicely named service... which was unavailable. :(</p>
            <p><img class="img-fluid" src="{{ asset('images/domain_registration_owo_service.png') }}" alt="OwO service (free) - Not available with this extension" /></p>
            <!-- https://twitter.com/veelkoov/status/1008031333921247234 -->

            <h4>Gaining popularity</h4>

            <p>Beginnings were boring. Until <a href="https://twitter.com/AlphaDogsStudio/status/1024278706385117185" target="_blank">this single tweet</a> set a record on the amount of visitors in a single day - 570.</p>
            <p><img class="img-fluid" src="{{ asset('images/alpha_dogs_tweet.png') }}" alt="Traffic on the website after Alpha Dogs' tweet" /></p>

            <p>Never beaten, up to this day, even after Google, for some reason, decided to rank getfursu.it higher beginning of 2019...</p>
            <p><img class="img-fluid" src="{{ asset('images/google_changes_ranking.png') }}" alt="Traffic on the website after Google changed ranking" /></p>
        </div>
    </div>
{% endblock %}
